@import url('https://fonts.googleapis.com/css?family=Allan|Arvo|Droid+Sans|Pacifico|Roboto|Montserrat');
/*
Color codes in botstrap
	#d9534f 	(217,83,79)
	#f9f9f9 	(249,249,249)
	#5bc0de 	(91,192,222)
	#5cb85c 	(92,184,92)
	#428bca 	(66,139,202)
*/
html,body{
	height: 100%;
}
body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #6c6f73;
}

/* Horizontal line styles */
body#login_details hr.style1:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
body#login_details hr.style2 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

/*navbar styling start*/
body#login_details #signIn_navbar {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
		font-weight: bold;
		margin: 5px;
}
body#login_details #Login_navbar {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
		font-weight: bold;
		margin: 5px;
}
body#login_details #signIn_navbar:hover{
	cursor: pointer;
	background-color: white;
	border-color:  #cc0000;
	color: #cc0000;
	font-weight: bold;
}
body#login_details #Login_navbar:hover{
	cursor: pointer;
	background-color: white;
	border-color:  #cc0000;
	color: #cc0000;
	font-weight: bold;
}
/*==========Dropdown-content==============*/

body#login_details .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

body#login_details .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
		font-family: 'Roboto', sans-serif;
}

body#login_details .dropdown-content a:hover {
	background-color: #ff3232;
	font-family: 'Roboto', sans-serif;
}

body#login_details .dropdown:hover .dropdown-content {
    display: block;
}

/*=========================================*/


body#login_details #brand_name{
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	font-weight: bold;
}
body#login_details #navbar_items{
	font-family: 'Arvo', serif;
	font-weight: bold;
}
body#login_details #footer_line{
  background: #ff0000;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
body#login_details #footer_line a{
  color: white;
}
body#login_details #navbar_main .nav-item:hover {
  text-decoration: underline; }

body#login_details	#products_dropdown .dropdown-item:hover {
	  background-color: #cc0000;
	  color: white; }
/*navbar styling ends*/

/* Horizontal line styles end */

/*===========Manual login form starts===========*/
body#login_details .finish_login_btn{
	color: #fff;
	background-color: #cc0000;
	border-color: #cc0000;
	font-weight: bold;
	margin: 5px 5px 5px 15px;
}
body#login_details .finish_login_btn:hover{
	cursor: pointer;
	background-color: white;
	border-color:  #cc0000;
	color: #cc0000;
	font-weight: bold;
}
body#login_details #manual_login{
	font-family: 'Montserrat', sans-serif;
}
/*===========Manual login form ends=================*/

/*=======facebook login button=========*/
body#login_details #facebook_login_btn{
	color: white;
	background-color: #3b5998;
	font-weight: bold;
	margin: 30px 0px 20px 10px;

}
body#login_details #facebook_login_btn:hover{
	color: #3b5998;
	background-color: white;
	cursor: pointer;
	border-color: #3b5998;
	font-weight: bold;

}
/*=======facebook login button end=========*/
/*=======google/gmail login button=========*/
body#login_details #google_login_btn{
	color: white;
	background-color: #dd4b39;
	font-weight: bold;
	margin: 25px 0px 20px 10px;
}
body#login_details #google_login_btn:hover{
	color: #dd4b39;
	background-color: white;
	cursor: pointer;
	border-color: #dd4b39;
	font-weight: bold;
}
/*=======google/gmail login button end=========*/
/*=====Footer start=====*/
body#login_details #footer_line{
  background: #ff0000;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  /*font-family: 'Raleway', sans-serif;*/
}
body#login_details #footer_line a{
  color: white;
}

body#login_details #footer{
	background: white;
}
body#login_details #footer_oheo{
	font-family: 'Pacifico', cursive;
	color: #ADB0B6;
	margin-top:5px;
	margin-bottom: 0px;
}
body#login_details #footer_lines{
	color: #ADB0B6;
	/*margin-left: 50px;*/
	font-size: 12px;
	margin-top: 20px;
	/*font-family: 'Raleway', sans-serif;*/
}
body#login_details footer{
	background-color: #282C35;
	padding-top: 10px;
}
body#login_details #categories_footer a{
	color: #ADB0B6;
	list-style: none;
	/*font-family: 'Raleway', sans-serif;*/
	font-size: 13px;

}
body#login_details #links_footer a{
	color: #ADB0B6;
	list-style: none;
	/*font-family: 'Raleway', sans-serif;*/
	font-size: 13px;

}
body#login_details #footer_cat_head{
	color: #ADB0B6;
	font-size: 18px;
	font-weight: 700;
	/*font-family: 'Raleway', sans-serif;*/

}
body#login_details #footer_links_head{
	color: #ADB0B6;
	font-size: 18px;
	font-weight: 700;
	/*font-family: 'Raleway', sans-serif;*/
}
body#login_details #footer_madeby,#footer_madeby a{
	color: #ADB0B6;
	margin-top: 50px;
}

body#login_details #footer_mail_head{
	color: #ADB0B6;
	font-size: 18px;
	font-weight: 700;
}
body#login_details #footer_mail_link{
	color: #ADB0B6;
	margin-bottom: 20px;

}
body#login_details #footer_phone_head{
	color: #ADB0B6;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
}
body#login_details #footer_phone_link{
	color: #ADB0B6;
	margin-bottom: 10px;
}
body#login_details #footer_followus_head{
	margin-bottom: 10px;
	margin-top: 20px;
	color: #ADB0B6;
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;

}
body#login_details #footer_social_fb{
	margin-right: 5px;
	color: #ADB0B6;

}
body#login_details #footer_social_g+{
	margin-left: 5px;
	margin-right: 5px;
	color: #ADB0B6;

}
body#login_details #footer_social_tweeter{
	margin-left: 5px;
	margin-right: 5px;
	color: #ADB0B6;

}
body#login_details #footer_social_insta{
	margin-left: 5px;
	margin-right: 5px;
	color: #ADB0B6;

}
/*=====Footer end=====*/

/*========social section start========*/

body#login_details .social_network_btns{
	margin: 40px auto 0 auto;
}
body#login_details ul.social-network {
	list-style: none;
	display: inline;
}
body#login_details ul.social-network li {
	display: inline;
	margin: 0 5px 0 5px;
}

/* footer social icons */
body#login_details .social-network a.icoFacebook {
	background-color:#3B5998;
}
body#login_details .social-network a.icoTwitter {
	background-color:#33ccff;
}
body#login_details .social-network a.icoGoogle {
	background-color:#BD3518;
}
body#login_details .social-network a.icoInstagram {
	background-color:#e4405f;
}
body#login_details .social-network a.icoPinterest {
	background-color:#c92228;
}
body#login_details .social-network a.icoYoutube {
	background-color:#c4302b;
}
body#login_details .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
body#login_details a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

body#login_details .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
body#login_details .social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

body#login_details .social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
body#login_details .social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

body#login_details #footer_oheoLink{
	margin: 10px auto 0 auto;
}
body#login_details #footer_oheoLink a{
	color: #ADB0B6;
}
body#login_details #footer_oheoLink a:hover{
	color: white;
}

/*========social section ends========*/
