@import url('https://fonts.googleapis.com/css?family=Allan|Arvo|Droid+Sans|Harmattan|Pacifico|Roboto|Montserrat');
/*
Color codes in botstrap
	#d9534f 	(217,83,79)
	#f9f9f9 	(249,249,249)
	#5bc0de 	(91,192,222)
	#5cb85c 	(92,184,92)
	#428bca 	(66,139,202)
*/
html,body{
	height: 100%;
}
body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #6c6f73;
}

/* Horizontal line styles */
body#policies_page hr.style1:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
body#policies_page hr.style2 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

/*navbar styling start*/
body#policies_page #signIn_navbar {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
		font-weight: bold;
		margin: 5px;
}

body#policies_page #signIn_navbar:hover{
	cursor: pointer;
	background-color: white;
	border-color:  #cc0000;
	color: #cc0000;
	font-weight: bold;
}
body#policies_page .modal .sendotp_next_btn {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
		font-weight: bold;
		margin: 5px;
}
body#policies_page .modal .sendotp_next_btn:hover{
	cursor: pointer;
	background-color: white;
	border-color:  #cc0000;
	color: #cc0000;
	font-weight: bold;
}
body#policies_page #input_otp{
	width: 100px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*==========Dropdown-content==============*/

body#policies_page .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

body#policies_page .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
		font-family: 'Roboto', sans-serif;
}

body#policies_page .dropdown-content a:hover {
	background-color: #cc0000;
	font-family: 'Roboto', sans-serif;
}

body#policies_page .dropdown:hover .dropdown-content {
    display: block;
}

/*=========================================*/


body#policies_page #brand_name{
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	font-weight: bold;
}
body#policies_page #navbar_items{
	font-family: 'Arvo', serif;
	font-weight: bold;
}
body#policies_page #footer_line{
  background: #ff0000;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
body#policies_page #footer_line a{
  color: white;
}
body#policies_page #navbar_main .nav-item:hover {
  text-decoration: underline; }

body#policies_page	#products_dropdown .dropdown-item:hover {
	  background-color: #cc0000;
	  color: white; }
/*navbar styling ends*/


/*==========col-sm-3 styling..dropdown of the policies starts=========*/
body#policies_page #header_our_policies{
  background-color: #cc0000;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
}

body#policies_page #policies_cake{
  background-color:  #eaecee;
  color: #454545;
  font-size: 17px;
  padding: 8px 0px 8px 10px;
}

body#policies_page #policies_fruits_vegetables{
  background-color:  #eaecee ;
  color: #454545;
  font-size: 17px;
  padding: 8px 0px 8px 10px;
}

body#policies_page #policies_cake:hover, #policies_fruits_vegetables:hover{
  background-color:  #eaecee;
  color: #454545;
  font-size: 17px;
  padding: 8px 0px 8px 10px;
	cursor: pointer;
}

body#policies_page #main_categories_cake ul{
  list-style-type:none;
}

body#policies_page #main_categories_cake li{
  padding: 5px 0px 5px 0px;
}


/*==========col-sm-3 styling..dropdown of the policies ends=========*/
/*==========col-sm-9 styling...content of the policies ends=========*/
body#policies_page .policy_content{
	max-height: 500px;
	overflow-y: scroll;
	font-family: 'Harmattan', sans-serif;
	font-size: 20px;
}

body#policies_page .policy_content_header{
	font-weight:bold;
	margin:15px 0px 15px 0px;
	text-decoration: underline;
}

body#policies_page .link:hover{
	cursor: pointer;
	text-decoration: underline;
}
/*==========col-sm-9 styling...content of the policies ends=========*/

/*=====Footer start=====*/
body#policies_page #footer_line{
  background: #ff0000;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  /*font-family: 'Raleway', sans-serif;*/
}
body#policies_page #footer_line a{
  color: white;
}

body#policies_page #footer{
	background: white;
}
body#policies_page #footer_redgini{
	font-family: 'Pacifico', cursive;
	color: #ADB0B6;
	margin-top:5px;
	margin-bottom: 0px;
}
body#policies_page #footer_lines{
	color: #ADB0B6;
	/*margin-left: 50px;*/
	font-size: 12px;
	margin-top: 20px;
	/*font-family: 'Raleway', sans-serif;*/
}
body#policies_page footer{
	background-color: #282C35;
	padding-top: 10px;
}
body#policies_page #categories_footer a{
	color: #ADB0B6;
	list-style: none;
	/*font-family: 'Raleway', sans-serif;*/
	font-size: 13px;

}
body#policies_page #links_footer a{
	color: #ADB0B6;
	list-style: none;
	/*font-family: 'Raleway', sans-serif;*/
	font-size: 13px;

}
body#policies_page #footer_cat_head{
	color: #ADB0B6;
	font-size: 18px;
	font-weight: 700;
	/*font-family: 'Raleway', sans-serif;*/

}
body#policies_page #footer_links_head{
	color: #ADB0B6;
	font-size: 18px;
	font-weight: 700;
	/*font-family: 'Raleway', sans-serif;*/
}
body#policies_page #footer_madeby,#footer_madeby a{
	color: #ADB0B6;
	margin-top: 50px;
}

body#policies_page #footer_mail_head{
	color: #ADB0B6;
	font-size: 18px;
	font-weight: 700;
}
body#policies_page #footer_mail_link{
	color: #ADB0B6;
	margin-bottom: 20px;

}
body#policies_page #footer_phone_head{
	color: #ADB0B6;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
}
body#policies_page #footer_phone_link{
	color: #ADB0B6;
	margin-bottom: 10px;
}
body#policies_page #footer_followus_head{
	margin-bottom: 10px;
	margin-top: 20px;
	color: #ADB0B6;
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;

}
body#policies_page #footer_social_fb{
	margin-right: 5px;
	color: #ADB0B6;

}
body#policies_page #footer_social_g+{
	margin-left: 5px;
	margin-right: 5px;
	color: #ADB0B6;

}
body#policies_page #footer_social_tweeter{
	margin-left: 5px;
	margin-right: 5px;
	color: #ADB0B6;

}
body#policies_page #footer_social_insta{
	margin-left: 5px;
	margin-right: 5px;
	color: #ADB0B6;

}
/*=====Footer end=====*/

/*========social section start========*/

body#policies_page .social_network_btns{
	margin: 40px auto 0 auto;
}
body#policies_page ul.social-network {
	list-style: none;
	display: inline;
}
body#policies_page ul.social-network li {
	display: inline;
	margin: 0 5px 0 5px;
}

/* footer social icons */
body#policies_page .social-network a.icoFacebook {
	background-color:#3B5998;
}
body#policies_page .social-network a.icoTwitter {
	background-color:#33ccff;
}
body#policies_page .social-network a.icoGoogle {
	background-color:#BD3518;
}
body#policies_page .social-network a.icoInstagram {
	background-color:#e4405f;
}
body#policies_page .social-network a.icoPinterest {
	background-color:#c92228;
}
body#policies_page .social-network a.icoYoutube {
	background-color:#c4302b;
}
body#policies_page .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
body#policies_page a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

body#policies_page .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
body#policies_page .social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

body#policies_page .social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
body#policies_page .social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

body#policies_page #footer_redginiLink{
	margin: 10px auto 0 auto;
}
body#policies_page #footer_redginiLink a{
	color: #ADB0B6;
}
body#policies_page #footer_redginiLink a:hover{
	color: white;
}

/*========social section ends========*/
